.border-pane {
    -fx-background-color: #2c2c2c;
    -fx-padding: 20;
    -fx-font-family: monospace;
}

.client-count-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.active-circle {
    -fx-fill: #10fb10;
    -fx-stroke: black;
}

.stop-button {
    -fx-pref-height: 70;
    -fx-pref-width: 200;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-border-radius: 15;
    -fx-background-radius: 18;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}